<h1>Promise Demo</h1>
<hr>
<h3>
Click the button to see output after 5 seconds...
<button type="button" (click)="abc()">CHECK PROMISE</button>
<br><br>
Data after 5 seconds asynchdata:  {{ asynchData }} <br>
Data after 5 seconds promise object :  {{ myPromise }} <br>
Data after 5 seconds async pipe :  {{myPromise | async}} <br>
</h3>
<hr>
<hr>
<h1>Observable Demo</h1>
<hr>
<h3>Click here to see demo of observable : 
<button type="button" (click)="xyz()">Check Observable</button>
<br><br>
</h3>
<hr>
<hr>
<my-comp></my-comp>
<router-outlet></router-outlet>
